:root {
  --color-accent: oklch(46.448% 0.2089 284.704); 
}

html {
  accent-color: var(--color-accent);
}

body {
 
font: 100%/1.5 system-ui;

max-width: 100ch;

margin-inline: auto;

padding: 1em;
}
img {
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;            
  margin-bottom: 1em;        
  border-bottom: 1px solid oklch(81.092% 0.03356 203.838); 
}

nav a {
  flex: 1;                 
  text-align: center;        
  text-decoration: none;      
  color: inherit;             
  padding: 0.5em 0;         
}

nav a.current {
  border-bottom: 0.4em solid oklch(84.628% 0.00786 207.769); 
  padding-bottom: 0.1em;                   
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h);
  padding-bottom: 0.1em;  
}

input,
textarea,
button,
select {
  font: inherit; 
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;   
} 

form label {
  display: grid;
  grid-template-columns: subgrid;  
  align-items: center;
  grid-column: 1 / -1;            
}

form button {
  grid-column: 1 / -1;            
  padding: 0.5em;                
  font: inherit;               
}

.projects {
  display: grid;  
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects section {
  display: grid;
  grid-template-rows: subgrid; 
  grid-row: span 3;           
}

.projects h2 {
  margin: 0; 
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;     
  text-wrap: balance;  
}



/* Resume */

.resume-page {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
  line-height: 1.5;
  color: #222;
}

.resume-page h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  letter-spacing: -0.5px;
}


.resume-page article {
  margin-bottom: 18px;
}

.resume-page article p {
  margin: 2px 0;
}

.resume-page time {
  float: right;
  font-size: 0.9rem;
}

.resume-page ul {
  margin-top: 6px;
  padding-left: 20px;
}

.resume-page li {
  margin-bottom: 6px;
  font-size: 0.95rem;
}
